.DS_Store
*.swp
*.tmp

/cydia/Objects/
/cydia/Images/
/cydia/apt64/
/cydia/apt64-contrib/
/cydia/apt64-deb/
/cydia/aptmethod.h
/cydia/http.cc
/cydia/http.h
/cydia/MobileCydia
/cydia/postinst
/cydia/cydo
/cydia/setnsfpn
/cydia/cfversion
/cydia/_/
/cydia/__/
/cydia/debs/
/cydia/bins/
/cydia/Cydia.deb
/cydia/Cydia_.deb
/cydia/*.log
/cydia/.cydia-apt-clone.*
/cydia/.cydia-pinned-apt.*
